.menu-bar {
    -fx-background-color: #2c3e50;
    -fx-padding: 4 0;
}

.menu-bar .label {
    -fx-text-fill: white;
}

.menu-bar .menu:hover, .menu-bar .menu:showing {
    -fx-background-color: #34495e;
}

.context-menu {
    -fx-background-color: #2c3e50;
    -fx-border-color: #1a252f;
}

.menu-item .label {
    -fx-text-fill: white;
    -fx-font-weight: normal;
}

.menu-item:focused, .menu-item:hover {
    -fx-background-color: #2c3e50;
}